.page-header {
    padding-bottom: 20px;
    margin: 30px 0 20px;
    border-bottom: 1px solid #eee;
}

.footer {
    color: #999;
    text-align: center;
    font-size: .9em;
}

.footer a {
    color: #999;
    text-decoration: underline;
}

.file-size {
    padding: 0!important;
    font-size: .9rem;
    line-height: 25px;
}

.material-icons-file {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 2px;
}

.icon-flip {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

button.close:focus {
    outline: none;
}

.custom-file-label {
    overflow: hidden;
}

div.btn-right {
    padding: 0!important;
}

button.btn-delete {
    padding: 2px 2px;
    margin-left: 8px;
    line-height: 0;
}

.material-icons-delete {
    font-size: 1rem;
}

.breadcrumb-list {
    margin-bottom: 0;
    padding: 0 0 12px 0;
    overflow: hidden;
}

.flex-row {
    overflow: hidden;
}

.modal-body {
    overflow: hidden;
}

td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: rgba(27,31,35,0.3);
    vertical-align: top;
    padding-right: 5px;
    line-height: 20px;
}

td.hljs-ln-code {
    padding-left: 10px;
}

.file-info-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    background-color: #ddd;
}

.file-info {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
    color: #24292e;
}