<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/gosvrstatic/css/bootstrap.min.css?internal=1">
    <link rel="stylesheet" href="/gosvrstatic/css/li-github-light.css?internal=1">
    <script src="/gosvrstatic/js/highlight.pack.js?internal=1"></script>
    <script src="/gosvrstatic/js/highlightjs-line-numbers.min.js?internal=1"></script>
    <link rel="stylesheet" href="/gosvrstatic/css/style.css?internal=1">
    <link rel="stylesheet" href="/gosvrstatic/css/github-markdown.css?internal=1">
    <title>View source: {{ .Path }}</title>
</head>

<body>
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent" style="margin-top: 20px;">
                <li class="breadcrumb-item" id="navHome"><a href="/">Home</a></li>
            </ol>
        </nav>

        <div class="card" style="margin-bottom: 40px;">
            <div class="card-header">
                <span class="file-info">
                    <span id="lineCount"></span><span class="file-info-divider"></span><span id="fileSize">{{ .FileSize }}</span>
                </span>
                <span class="codeButtonGroup" style="float: right">
                    {{ if eq .Lang "markdown" }}
                        <button type="button" class="btn btn-sm btn-outline-dark" id="preview">Preview</button>
                    {{ end }}
                    <button type="button" class="btn btn-sm btn-outline-dark" id="raw">Raw</button>
                </span>
            </div>
            <div class="card-body" style="padding-bottom: 15px;">
                <pre style="margin-bottom: 0; padding-bottom: 5px;"><code style="font-size: 12px;" class="{{ .Lang }}">{{ .FileContent }}</code></pre>
            </div>
        </div>

        <p class="footer"><a href="https://github.com/JeziL/gosvr" target="_blank">gosvr</a> - v{{ .Version }}</p>
    </div>

    <script src="/gosvrstatic/js/jquery-3.2.1.min.js?internal=1"></script>
    <script src="/gosvrstatic/js/popper.min.js?internal=1"></script>
    <script src="/gosvrstatic/js/bootstrap.min.js?internal=1"></script>
    <script src="/gosvrstatic/js/showdown.min.js?internal=1"></script>
    <script type="application/javascript">
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();

        var path = {{ .Path }};
        var fileContent = {{ .FileContent }};

        generateNav(path);
        generateFileInfo(fileContent);

        function renderMarkdown(md) {
            var converter = new showdown.Converter();
            converter.setFlavor('github');
            var html = converter.makeHtml(md);
            $('.markdown-body').empty().html(html);
        }

        $('button#raw').on('click', function () {
            window.open(path, "_self");
        });

        $('button#preview').on('click', function () {
            var cardBody = $('.card-body');
            if ($(this).hasClass('active')) {
                cardBody.removeClass('markdown-body');
                cardBody.css('font-size', '12px');
                cardBody.empty().html('<pre style="margin-bottom: 0; padding-bottom: 5px;"><code style="font-size: 12px;" class="' + {{ .Lang }} + '"></code></pre>');
                var code = $('code');
                code.text(fileContent);
                $(this).removeClass('active');
                hljs.highlightBlock(code.get(0));
                hljs.initLineNumbersOnLoad();
            }
            else {
                cardBody.addClass('markdown-body');
                cardBody.removeAttr('style');
                renderMarkdown(fileContent);
                $(this).addClass('active');
            }
        });

        function generateFileInfo(code) {
            let lineCount = code.split(/\r\n|\r|\n/).length;
            let pl = (lineCount > 1) ? "s" : "";
            $('#lineCount').text(lineCount + " line" + pl);
        }

        function generateNav(path) {
            let pathComponents = path.split('/');
            if (!(pathComponents.length === 2 && pathComponents[1] === '')) {
                let pathAccumulated = '';
                for (let i = 1; i < pathComponents.length; i++) {
                    let pc = pathComponents[i];
                    if (i !== pathComponents.length - 1) {
                        pathAccumulated += "/" + pc;
                        $('ol.breadcrumb').append('<li class="breadcrumb-item"><a href="' + pathAccumulated + '">' + pc + '</a></li>');
                    }
                    else {
                        $('ol.breadcrumb').append('<li class="breadcrumb-item active" aria-current="page">' + pc + '</li>');
                    }
                }
            }
        }
    </script>
</body>

</html>