<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/gosvrstatic/css/bootstrap.min.css?internal=1">
    <link rel="stylesheet" href="/gosvrstatic/assets/iconfont/material-icons.css?internal=1">
    <link rel="stylesheet" href="/gosvrstatic/css/style.css?internal=1">
    <title>Directory listing for {{ .Path }}</title>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>Directory listing for {{ .Path }}</h2>
        </div>

        <div class="alert alert-warning  alert-dismissible fade show" style="display: none;" role="alert">
            <b>No file selected.</b> Please choose a file first.
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card" style="margin-bottom: 40px;">
            <div class="card-header">
                <nav aria-label="breadcrumb breadcrumb-list">
                    <ol class="breadcrumb breadcrumb-list bg-transparent">
                        <li class="breadcrumb-item" id="navHome"><a href="/">Home</a></li>
                    </ol>
                </nav>
                <form ENCTYPE="multipart/form-data" method="post">
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="files" type="file" multiple="multiple" class="custom-file-input" id="inputGroupFile" />
                            <label class="custom-file-label" for="inputGroupFile">Choose file ...</label>
                        </div>
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>
            <ul class="list-group list-group-flush">
                {{ range .Items }}
                <li class="d-flex flex-row list-group-item">
                    <div class="mr-auto p-10">
                        <i class="material-icons material-icons-file">
                            {{ if .IsFile }}
                            &#xE8D2;
                            {{ end }}
                            {{ if .IsDir }}
                            &#xE2C8;
                            {{ end }}
                            {{ if .IsSymlink }}
                            <div class="icon-flip">&#xE15E;</div>
                            {{ end }}
                            {{ if .IsSourceCode }}
                                &#xE86F;
                            {{ end }}
                        </i>
                        <a href="{{ .URL }}">{{ .Filename }}</a>
                    </div>
                    <div class="p-2 file-size">
                        {{ .Size }}
                    </div>
                    <div class="p-2 btn-right">
                        <button class="btn btn-sm btn-secondary btn-right btn-rename" data-toggle="modal" data-target="#renameModal">
                            <i class="material-icons material-icons-right">&#xE3C9;</i>
                        </button>
                        <button class="btn btn-sm btn-danger btn-right btn-delete" data-toggle="modal" data-target="#deleteModal">
                            <i class="material-icons material-icons-right">&#xE872;</i>
                        </button>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <p class="footer"><a href="https://github.com/JeziL/gosvr" target="_blank">gosvr</a> - v{{ .Version }}</p>
    </div>

    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Rename</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="newname">New name</span>
                        </div>
                        <input id="newFileName" type="text" class="form-control" aria-label="Filename" aria-describedby="newname">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmRename"><b>Rename</b></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete <b><span id="fileDeleting"></span></b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete"><b>Delete</b></button>
                </div>
            </div>
        </div>
    </div>

    <script src="/gosvrstatic/js/jquery-3.2.1.min.js?internal=1"></script>
    <script src="/gosvrstatic/js/popper.min.js?internal=1"></script>
    <script src="/gosvrstatic/js/bootstrap.min.js?internal=1"></script>
    <script>
        generateNav({{ .Path }});

        function generateNav(path) {
            let pathComponents = path.split('/');
            if (!(pathComponents.length === 2 && pathComponents[1] === '')) {
                let pathAccumulated = '';
                for (let i = 1; i < pathComponents.length; i++) {
                    let pc = pathComponents[i];
                    if (i !== pathComponents.length - 1) {
                        pathAccumulated += "/" + pc;
                        $('ol.breadcrumb').append('<li class="breadcrumb-item"><a href="' + pathAccumulated + '">' + pc + '</a></li>');
                    }
                    else {
                        $('ol.breadcrumb').append('<li class="breadcrumb-item active" aria-current="page">' + pc + '</li>');
                    }
                }
            }
        }
        $('#inputGroupFile').on('change', function () {
            let fileNames = $(this).prop('files');
            let fileName = [].slice.call(fileNames).map(function(fn){return fn.name;}).join(', ');
            $(this).next('.custom-file-label').empty().html(fileName);
        });
        $('input[type=submit]').on('click', function (e) {
            if ($('.custom-file-label').html() === "Choose file ...") {
                $('div.alert').css("display", "block");
                return false;
            }
            var xhr = new XMLHttpRequest();
            if (!(xhr && ("upload" in xhr) && ("onprogress" in xhr.upload)) || !window.FormData) {
                return;
            }
            e.preventDefault();
            // TODO: Progress bar.
            xhr.upload.addEventListener("loadstart", function (e){
                console.log("!!!start!!!");
            }, false);
            xhr.upload.addEventListener("progress", function (e) {
                let percent = (100 * e.loaded / e.total);
                console.log(percent.toFixed(2));
            }, false);
            xhr.upload.addEventListener("load", function () {
                console.log("!!!Completed!!!");
            }, false);
            xhr.addEventListener("readystatechange", function (e) {
                if (e.target.readyState === 4 && e.target.responseText) {
                    var newDocument = document.open('text/html', 'replace');
                    newDocument.write(e.target.responseText);
                    newDocument.close();
                }
            }, false);
            xhr.open("post", "/", true);
            xhr.send(new FormData($("form").get(0)));
        });
        $('button.close').on('click', function () {
            $('div.alert').css("display", "none");
        });
        $('button.btn-delete').on('click', function () {
            let fileUrl = decodeURI($($(this).parent().parent().children()[0]).children()[1].getAttribute('href')).split('?')[0];
            $('span#fileDeleting').text(fileUrl);
        });
        $('button#confirmDelete').on('click', function () {
            let fileUrl = $('span#fileDeleting').text();
            let fd = new FormData();
            fd.append('name', fileUrl);
            $.ajax({
                type: "DELETE",
                url: "delete",
                data: fd,
                contentType: false,
                processData: false,
                success: function (msg) {
                    location.reload();
                }
            });
        });
        $('button.btn-rename').on('click', function () {
            let fileListObj = $($(this).parent().parent().children()[0]).children()[1];
            let fileUrl = decodeURI(fileListObj.getAttribute('href')).split('?')[0];
            let filename = decodeURI(fileListObj.text).split('?')[0];
            if (filename.endsWith('/') || filename.endsWith('@')) {
                filename = filename.slice(0, -1);
            }
            let inputLabel = $('input#newFileName');
            inputLabel.val(filename);
            inputLabel.attr('fileUrl', fileUrl);
        });
        $('button#confirmRename').on('click', function () {
            let inputLabel = $('input#newFileName');
            let fileUrl = inputLabel.attr('fileUrl');
            let fd = new FormData();
            fd.append('name', fileUrl);
            fd.append('new_name', inputLabel.val());
            $.ajax({
                type: "PATCH",
                url: "rename",
                data: fd,
                contentType: false,
                processData: false,
                success: function (msg) {
                    location.reload();
                }
            });
        });
    </script>
</body>

</html>