<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/gosvrstatic/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gosvrstatic/css/style.css">
    <link rel="stylesheet" href="/gosvrstatic/css/github-markdown.css">
    <title>View source: {{ .Path }}</title>
</head>

<body>
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent" style="margin-top: 20px;">
                <li class="breadcrumb-item" id="navHome"><a href="/">Home</a></li>
            </ol>
        </nav>

        <div class="card" style="margin-bottom: 40px;">
            <div class="card-header">
                <span class="file-info">
                    <span id="lineCount"></span><span class="file-info-divider"></span><span id="fileSize">{{ .FileSize }}</span>
                </span>
                <button type="button" class="btn btn-sm btn-outline-dark" id="raw" style="float: right; height: 30px;">Raw</button>
            </div>
            <div class="card-body markdown-body"></div>
        </div>

        <p class="footer"><a href="https://github.com/JeziL/gosvr" target="_blank">gosvr</a> - v{{ .Version }}</p>
    </div>

    <script src="/gosvrstatic/js/jquery-3.2.1.min.js"></script>
    <script src="/gosvrstatic/js/popper.min.js"></script>
    <script src="/gosvrstatic/js/bootstrap.min.js"></script>
    <script src="/gosvrstatic/js/showdown.min.js"></script>
    <script type="application/javascript">

        renderMarkdown({{ .FileContent }});
        generateNav({{ .Path }});
        generateFileInfo({{ .FileContent }});

        function renderMarkdown(md) {
            var converter = new showdown.Converter();
            converter.setFlavor('github');
            var html = converter.makeHtml(md);
            $('.markdown-body').html(html);
        }

        $('button#raw').on('click', function () {
            window.open({{ .Path }}, "_self");
        });

        function generateFileInfo(code) {
            $('#lineCount').text(`${code.split(/\r\n|\r|\n/).length} lines`);
        }

        function generateNav(path) {
            let pathComponents = path.split('/');
            if (!(pathComponents.length === 2 && pathComponents[1] === '')) {
                let pathAccumulated = '';
                for (let i = 1; i < pathComponents.length; i++) {
                    let pc = pathComponents[i];
                    if (i !== pathComponents.length - 1) {
                        pathAccumulated += `/${pc}`;
                        $('ol.breadcrumb').append(`<li class="breadcrumb-item"><a href="${pathAccumulated}">${pc}</a></li>`);
                    }
                    else {
                        $('ol.breadcrumb').append(`<li class="breadcrumb-item active" aria-current="page">${pc}</li>`);
                    }
                }
            }
        }
    </script>
</body>

</html>