<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/gosvrstatic/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gosvrstatic/css/style.css">
    <title>Upload Result Page</title>
</head>

<body>
    <div class="container">
        <div class="card" style="margin-top: 30px; margin-bottom: 40px;">
            <div class="card-header">
                Upload Result Page
            </div>
            <div class="card-body">
                <h5 class="card-title">Success</h5>
                <p class="card-text">The following file{{ $length := len .FileNames }}{{ if gt $length 1 }}s were {{ else }} was{{ end }} successfully uploaded!</p>
                <ul class="list-group list-group-flush">
                    {{ range  .FileNames }}
                        <li class="list-group-item">{{ . }}</li>
                    {{ end }}
                </ul><br>
                <a href="{{ .Referer }}" class="btn btn-primary">Back</a>
            </div>
        </div>
        <p class="footer"><a href="https://github.com/JeziL/gosvr" target="_blank">gosvr</a> - v{{ .Version }}</p>
    </div>
</body>

</html>